@use '../utils' as *;

body {
    font-size: rem(18);
    font-weight: 300;
}

h1, h2, h3 {
    margin-top: 0;
    line-height: 1.1;
}

h1 {
    font-weight: 400;
}

a, a:visited, a:active {
    text-decoration: none;
}