@use "../utils/" as *;

.card {
    margin-top: rem(50);
    padding: rem(18);

    background: var(--dark-blue);
    border-radius: rem(10);
    position: relative;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    h2 {
        color: var(--white);
    }
    &__icon {
        justify-self: end;
    }

    &__hours {
        font-size: rem(24);
        font-weight: 300;
        color: var(--white);
    }

    &__previous {
        
        justify-self: end;
    }

    &--work::before {
        background: var(--orange);
        background-image: url('../images/icon-work.svg');
    }
    &--play::before {
        background: var(--soft-blue);
        background-image: url('../images/icon-play.svg');
    }

    &::before {
        content: "";
        position: absolute;
        top: rem(-36);
        left: 0;
        height: rem(60);
        width: 100%;
        background-size: rem(80) rem(80);
        background-position: bottom right rem(20);
        background-repeat: no-repeat;
        border-radius: rem(10);
        z-index: -1;
    }

    h2 {
        font-size: rem(18);
    }


}
