@use "../utils/" as *;

.main {
  margin: 150px auto;
  display: grid;
  gap: rem(18);

    @include breakpoint(large) {

      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 1fr;

    }
}