@use "../utils/" as *;

nav {
    display: flex;
    gap: rem(24);
    padding: rem(30);
    justify-content: space-between;

    @include breakpoint(large) {
        flex-direction: column;
    }

    a {
        color: var(--desaturated-blue);
    }

    a:hover {
        color: var(--pale-blue);
    }

}